.dashboard-heading-tr th {
  height: 40px;
  padding: 10px 60px 10px 20px;
  box-shadow: inset 0px 1px 0px #b9b9b9;
  background: #143894;
}

.dashboard-body-tr td {
  height: 56px;
  min-width: 120px;
  padding: 10px 40px 10px 20px;
  box-shadow: inset 0px 1px 0px #b9b9b9;
}

.dashboard-body-tr:nth-child(even) {
  background: #f6f4f4;
}
