.table-container::-webkit-scrollbar-thumb {
  width: 3px;
}

/* Track */

.table-container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  background-color: transparent;
  border-radius: 10px;
}

/* Handle */

.table-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(155, 152, 152);
}
